.p-game__button-container {
    position: absolute;
}

.p-game__stage {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(min(100vw, calc(100vh * 9 / 16)) - 20px);
    height: calc(min(100vh, calc(100vw * 16 / 9)) - 20px);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    background-color: #d9f8d1;
    transform: translate(-50%, -50%);
}
